# Port number
PORT=3000

# Database config
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

DOCS_SERVER_URL=https://somehost.com/v1 # the server on which swagger docs live, for localhost use http://localhost:${SERVER_PORT}/v1