.inner-heading {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.wallet-div {
  position: relative;
  bottom: 5px;
}
.inner-heading button {
  border: none;
  background: linear-gradient(104.08deg, #fece76 -28.92%, #f78b88 76.85%);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-weight: 700;
  border-radius: 22px;
}
.front-bkg-photo {
  display: flex;
  z-index: 99;

  justify-content: space-around;
}
.wallet-reputation {
  z-index: 99;
  background-color: red;
}
.front {
  z-index: -99;
}

.front__face-photo {
  position: relative;
}
.Wallet--profile-pic {
  background: linear-gradient(104.08deg, #ffbe47 -28.92%, #ffe9e8 76.85%);
  border-radius: 25px;
  border: 4px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
  left: 140px;
}
.Wallet--profile-pic img {
  width: 120px;
  height: 120px;
  z-index: 0;
}

.userDetailsLeft {
    margin-right: auto;
}

.Wallet--container {
  display: flex;
}
.Wallet__rating--container {
  position: relative;
  top: 90px;
  display: flex;
  z-index: 999;
  flex-direction: column;

  gap: 40px;
}

.Wallet__verification--container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: 600;
  justify-content: space-around;
position: relative;
width: 200px;
border-radius: 25px;
background: rgba(0, 0, 0, 0.169);
height: 90%;
font-size: 19px;
left: 100%;
padding: 12px;

}

.Wallet__verification--container div {

display: flex;
gap: 2px;
}

.Wallet__rating--stars{
transform: scale(2,2);
}
.userDetails{
 
}
.front{
    z-index:0;
}

@media only screen and (min-height:810px) {
    .front{
        display: hidden;
    }
    .userDetailsLeft{
        display: hidden;
    }
    .Wallet__rating--container{
        display: hidden;
    }
    .Wallet__rating--stars{
        display: hidden;
    }
}


@media only screen and (min-height:810px) {
    .chip{
        display: hidden;
    }
    #wallet_rating--heading{
        display: hidden;
    }
}
.Wallet__avatar--bio{
   width: 500px;
   height: 40px;
   padding: 4px;
}
.Wallet__avatar--name{
    position: relative;

}