* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #F3DD9E -20.08%, #ffcac9 40.85%, #fff) fixed;
  font-family: 'Gliroy', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}