.footerSection {
  border-top: 1px solid #d5d1d1;
  margin-top: 70px;
  width: 100%;
}
.footerText {
  font-size: 16px;
  line-height: 45px;
  color: #32363C;
}

.footerSection .socialIcons {
  text-align: right;
  justify-content: flex-end
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  width: 100%;
  text-align: center;
}

.socialIcons .socialIcon img {
  position: relative;
  top: 5px;
}


.socialIcons .active {
  width: 70px;
  color: #F78F8A;
  font-weight: 600;
}

.socialIcons .socialIcon img {
  border: none;
  width: 25px;
  height: 25px;
}

.creditCardIcons {
  margin: 20px 0px!important;
  display: flex;
  gap: 20px
}
