.latest-news-card {
    box-sizing: border-box;
    height: 160px;
    background: #FFFFFF;
    border: 1.48953px solid #EBEFF0;
    border-radius: 25px;


    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;

}

.latest-news-image-container>img {
    height: 160px;
}

.latest-news-body {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

}

.latest-news-body>h6 {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #272727;
}

.latest-news-body>span {
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 169.3%;
    color: #32363C;
}