
.invitationCard{
background-color: white;
display: flex;
justify-content: space-between;
border-radius: 25px;
box-shadow: 4px 4px 14px rgb(144, 144, 255);
transition: .4s;
}
.invitationCard:hover{
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.402);
    transition: .1s;
}
/*---------Invitation card Left CSS-----------*/
.invitationCardLeft{
    display: flex;
    padding-top: 10px;
    padding-left: 10px;   
    padding-bottom: 10px; 
}

.invitationCardLeftText{
    padding: 20px;
}

.invitationCardLeftButton{
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 2px;

}



/*------Buttons-------*/
.chipPreviewButton{

}


/*-------Invitation card Right CSS------*/
.invitationCardRight{
    position: relative;
    left: 30px;
    display: flex;
    
}
.invitationCardRightButton{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
    margin-top: 10px;
}
.Accept{
    width: 120px;
    position: relative;
    right: 30px;
    border-radius: 2px;
}
.Decline{
    width: 120px;
    position: relative;
    right: 30px;
    border-radius:5px;
}
.Preview{
    width: 120px;
    position: relative;
    
    border-radius:5px;
}
.Pending{
    width: 120px;
    position: relative;
    border-radius:5px;
}
.invitationCardRightUser{
    transform:scale(0.8,0.9);

}