.wallet-container {
    background: #FFFFFF;
    border: 2px solid #EBEFF0;
    border-radius: 25px;
    margin-top: 5%;
    padding: 36px;
}
.wallet-explore-header {
    display: flex;
    gap: 12px;
    width: 100%;
    align-items: center;
}
.wallet-update-form{ 
    display: flex;
    flex-direction: column;
    gap:16px;
}
.wallet-update-form-action-btns{ 
    display: flex;
    margin-left: auto;
    gap:16px;
    align-items: center;
}
.wallet-update-form-fields-grid {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 16px;
}
.wallet-update-form-input {
    display: flex;
    flex-direction: column;
    gap:16px;
}
.user-profile-avatar {
    width: 230px;
    height: 230px;
    border-radius: 24px;
    background-color: var(--color-orange-dark);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile-avatar>img {
    width: 200px;
    height: 200px;
    border-radius: 24px;
    object-fit: contain;
    background-color: black;
}

.user-profile-avatar-picker-btn {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80%;
    background-color: black;
}

.user-profile-avatar-picker-btn input {
    display: none;
}

.user-profile-avatar-picker-btn img {
    width: 40px;
    height: 40px;
}

.wallet-explore-header {
    display: flex;
    gap: 12px;
    width: 100%;
    align-items: center;
}

.wallet-profile-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 16px;
    margin-top: 16px;
    padding-bottom: 50px;
}
.wallet-profile-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-right: auto;
}

.wallet-profile-creations-count {
    background-color: lightgray;
    color: var(--color-black);
    padding: 12px 18px;
    border-radius: 16px;
}

.wallet-profile-info-right {
    width: 100%;
}
.wallet-profile-info-right > div {
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.wallet-collection-container {
    position: relative;
    text-align: center;
    display: flex;
    background: #fff;
    gap: 50px;
    padding: 50px;
    padding-bottom: 16px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top: 2px solid var(--color-orange-dark);
}

.wallet-collection-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}