.inner-heading {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.wallet-div {
    position: relative;
    bottom: 5px;

}

.inner-heading button {
    border: none;
    background: linear-gradient(104.08deg, #FECE76 -28.92%, #F78B88 76.85%);
    padding: 5px;
    color: white;
    border-radius: 25px;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 120px;
    font-weight: 700;
}

.front__bkg-photo {
    min-height: 440px;
    max-height: 440px;
}

.Wallet__layout {
    position: absolute;
    left: 20px;
}

.Wallet__layout--bio {
    border-radius: 25px;
    width: 300px;
    max-width: 300px;
    overflow: hidden;

    word-wrap: break-word;
    max-height: 50px;
}

@media screen and (max-width:350px) {
    .Wallet__layout {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.Wallet__main {
    display: flex;
    width: 100%;

}

.Wallet__main--container {
    display: flex;
    position: relative;
    bottom: 270px;
}

.Wallet__layout--text {
    display: flex;
    position: absolute;
    gap: 5px;
    padding: 10px;

    flex-direction: column;
    top: -210px;
}

.Wallet__layout--text div {
    padding: 10px;
    display: flex;
    gap: 3px;
    color: white;
    font-weight: 700;
    transform: .2s;
    height: 100%;
}

.Wallet__layout--text div:hover {
    transform: .2s;
    border-radius: 25px;

}

.Wallet__layout--bio:hover {
    transform: 3s;

}

.Wallet__layout--bio {
    width: 500px;
    height: 50px;
    transform: 0.5s;
    position: relative;
    bottom: 10px;
}

.Wallet__layout--bio input {
    background: inherit;
    border: none;
    position: relative;
    top: 10px;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
    left: 56px;
}

.Wallet__layout--bio input:focus {
    border: none;
    background: inherit;
    outline: none;

}

.Wallet__layout--bio .Wallet__layout--bio--typography {
    position: relative;
    top: 10px;
}

.Wallet__layout--bio button {
    position: absolute;
    top: 10px;
    border: none;
    color: yellow;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    transform: 1s;
    background: rgb(131, 58, 180);
    background: linear-gradient(177deg, rgba(131, 58, 180, 1) 0%, rgba(253, 121, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.Wallet__layout--bio button:hover {
    border: none;
    color: yellow;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    transform: 1s;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.Wallet__layout--bio--typography {
    position: relative;
    top: 40px;
}

.userDetailsChip {
    position: absolute;

    bottom: -39px;
    left: 30px;
}

.Wallet__stars {
    z-index: 99111199;
    position: absolute;
    top: 140px;
    transform: scale(2, 2);
    left: 45%;
    transform: translate(-50% -50%);
}

.Wallet__stars div {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 50px;
    width: 120px;
    display: flex;
    color: white;
    font-weight: 700;
    right: 80px;
}

.Wallet__layout--text--input {
    background: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    position: absolute;
    bottom: 0px;
    border: none;
    left: 40px;

    color: white;
    font-weight: 700;
    color: white;

}

.Wallet__layout--text--input:hover {
    background-color: inherit;
}

.Wallet__layout--text--input:focus {
    outline: none;

}

.Wallet__layout--text--button {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(rgb(228, 0, 0), rgb(251, 208, 208));
}



.Wallet__layout--text {
    position: absolute;
    left: 70%;
}

.Wallet__Id--verified {
    position: relative;
    padding: 2px;
    left: 2px;
}

.Wallet__div--edit {
    margin-left: auto;
    background-color: red;
}

.Wallet__div--switch {
    position: absolute;
    right: 200px;
}

.Wallet__layout--buttonName {
    width: 20px;
    height: 20px;
    background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
    color: yellow;
    border-radius: 50%;
    padding: 10px;
    position: relative;
    top: 10px;
    border: none;

}

.Wallet__div--edit2 {
    position: relative;
    left: 40px;
}

#warning-sign {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
}

.Wallet__layout--text_span {
    position: relative;
    bottom: 10px;
    margin-left: 0.5px;
    margin-top: 0px;
    transform: scale(0.9, 0.9);
    left: 8px;
    top: -6px;
}

@media screen and (max-width:1400px) {
    .Wallet__stars {
        display: none;
    }

    .Wallet__layout--text {}
}

.Wallet__layout--frame {
    position: absolute;
    right: 400px;
}

@media screen and (max-width:1500px) {
    .Wallet__stars {
        position: absolute;
        left: 40%;
        transform: scale(0.9, 0.9);
    }

    .Wallet__layout--text {}
}

.Wallet__layout--frame {
    position: absolute;
    right: 400px;
}

@media screen and (max-width: 706px) {
    .Wallet__layout--frame {
        display: none;

    }

    .Wallet__main--container {
        position: absolute;
        left: 16%;
        top: 230px;

    }
}

@media screen and (max-width: 478px) {
    .Wallet__layout--frame {
        display: none;

    }

    .Wallet__main--container {
        background-color: red;
        position: absolute;
        transform: scale(1, 1);
        display: flex;
        top: 280px;
        left: 30px;

    }

    .chip {
        width: 400px;
    }
}

.Wallet__layout--text--input .name {
    position: absolute;
    left: 50%;

}

.Wallet__layout--name--container {
    position: absolute;
    left: 60px;
}

.Wallet__layout--buttonName .name {
    position: relative;
    left: 50%;
}

#name_button {
    position: absolute;
    top: -30px;
    left: 200px;
}

.front__face-photo {
    position: relative;
    background-color: red;

}

.image__container {
    position: absolute;
    left: 75px;
    top: 90px;
}

.userDetailsChip {
    position: absolute;
    bottom: -19px;
}

.Wallet__name {
    position: absolute;
    bottom: 65px;
    left: 100px;

}

.Wallet__layout--text {
    position: relative;
    z-index: 99999;
    left: 290px;
    top: -490px;

}

.Wallet__layout--text--input {
    position: relative;
    top: -1px;
    left: -2px;
}


/* new design  */

.wallet-container {
    height: 682px;
    background: #FFFFFF;
    border: 2px solid #EBEFF0;
    border-radius: 25px;
    margin-top: 5%;
}

.wallet-detail-container {
    height: 425px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: linear-gradient(104.08deg, #FECE76 -28.92%, #F78B88 76.85%);
    display: flex;
    flex-direction: row;
    position: relative;

}

.wallete-detail-left-container {
    width: 49%;
    text-align: -webkit-center;
    position: relative;

}

.front-face-photo {
    width: 245px;
    height: 238px;
    border-radius: 56px;
    background-color: white;
    margin-top: 16%;
    position: relative;
}

.wallete-detail-right-container {
    width: 50%;
}

.author-collection {
    width: 245px;
    font-family: 'Gilroy-SemiBold';
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    padding: 12px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 5px 25px rgba(247, 143, 138, 0.47);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.wallet-detail-right-container {
    width: 49%;
    box-sizing: border-box;
    width: 663px;
    height: 391px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px dashed #FFFFFF;
    border-radius: 20px;
    margin-top: 2%;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
}

.wallet-detail-right-container-edit {
    width: 49%;
    box-sizing: border-box;
    width: 663px;
    height: 391px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px dashed #FFFFFF;
    border-radius: 20px;
    margin-top: 2%;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}


.wallet-detail-right-container-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
}

.wallet-detail-right-container-left-edit {
    width: 52%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px;
}

.wallet-rating-title {
    width: 157px;
    height: 30px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.wallet-detail-info {
    width: 147.37px;
    height: 97px;
}

.wallet-detail-status {
    height: 60.3%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 18px;
}

.wallet-detail-status-edit {
    height: 20.3%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 18px;
}

.wallet-detail-address {
    height: 33.3%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.wallet-detail-address> :first-child {
    width: 153px;
    height: 30px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.wallet-detail-address> :nth-child(2) {
    width: 285px;
    height: 21px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.wallet-edit-btn {
    box-sizing: border-box;
    width: 80px;
    height: 32px;
    background: linear-gradient(104.08deg, #FECE76 -28.92%, #F78B88 76.85%);
    border: 1px solid #FFFFFF !important;
    box-shadow: 0px 13px 39px rgba(247, 143, 138, 0.47) !important;
    border-radius: 15px !important;
    color: white !important;
    margin-left: auto !important;
    margin-right: 2vh !important;
    margin-top: 2vh !important;
}

.wallet-detail-right-container-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.wallet-detail-right-container-right-edit {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
    align-items: center;
}

.detail-info-container {
    margin-top: 12%;
}

.detail-info-container>div>img {
    width: 80px;
    height: 80px;
}

.detail-info-container>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 42px;
    margin-left: -26px;
}

.detail-info-container>div>span {
    margin-bottom: 7%;
    width: 194px;
    height: 21px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}

.biograph-conainter {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.biograph-conainter>h2 {
    width: 105px;
    height: 30px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.biograph-conainter>p {
    width: 292px;
    height: 101px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 171.5%;
    color: #FFFFFF;
}

.css-iljtu2-MuiRating-root {
    color: #FFFF00 !important;

}

.css-ryrseu-MuiRating-root {
    color: #FFFF00 !important;
}

.css-1c99szj-MuiRating-icon {
    color: #FFFF00 !important
}

.wallet-collection-container {
    position: relative;
    text-align: center;
    display: flex;
    background: #fff;
    gap: 50px;
    padding: 50px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.wallet-collection-button {
    width: 328px;
    height: 195px;
    background: linear-gradient(104.08deg, #fece76 -28.92%, #f78b88 76.85%);
    box-shadow: 0px 13px 39px rgb(247 143 138 / 47%);
    border-radius: 24px !important;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    font-family: 'Gilroy-SemiBold';
    font-size: 22px !important;
    line-height: 30px !important;
    text-align: center !important;
    color: #FFFFFF !important;
}

.wallet-collection-button-unselected {
    width: 328px;
    height: 195px;
    background: rgba(247, 143, 138, 0.08);
    border: 2px dashed #f78f8a !important;
    color: #f78f8a !important;
    margin-left: 40px !important;
    border-radius: 24px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    font-family: 'Gilroy-SemiBold';
    font-size: 22px !important;
    line-height: 30px !important;
    text-align: center !important;

}

.wallet-collection-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.edit-camera {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 206px;
    margin: 0 auto;
    margin-top: 8px;
    cursor: pointer;
}

.edit-camera:hover {
    background-image: linear-gradient(to top, #adf, #8bf);
}

.edit-camera>img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.edit-identy .css-1692xeg-MuiTypography-root {
    width: 167px;
    height: 30px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.edit-identy .css-1f2kvjf-MuiFormControlLabel-root {
    margin-left: 0px !important
}

.edit-available-wallet {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.edit-available-wallet>input {
    height: 50px;
    background: #FFFFFF;
    border-radius: 15px;
}

select.wallet-select {
    height: 50px;
    background: #FFFFFF;
    border-radius: 15px;
    padding-right: 4px;

}

select.wallet-select option {
    padding: 20px;
    max-height: 150px;
}

.edit-available-wallet>span {
    height: 30px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.wallet-edit-input {
    height: 50px;
    background: #FFFFFF;
    border-radius: 15px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #606060;
}

.wallet-edit-input .css-i4bv87-MuiSvgIcon-root {
    width: 2em !important;
}

.wallet-edit-input .css-1x51dt5-MuiInputBase-input-MuiInput-input {
    width: 177px;
    height: 21px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #606060;
}

.wallet-edit-input-area {
    height: 95px;
    background: #FFFFFF;
    border-radius: 15px;
}

.wallet-edit-input-area .css-i4bv87-MuiSvgIcon-root {
    width: 2em !important;
}

.edit-submit {
    box-sizing: border-box;
    width: 226px;
    height: 50px;
    background: linear-gradient(104.08deg, #FECE76 -28.92%, #F78B88 76.85%);
    border: 1px solid #FFFFFF !important;
    box-shadow: 0px 13px 39px rgba(247, 143, 138, 0.47);
    border-radius: 15px !important;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 150% !important;
    color: #FFFFFF !important;
}

.wallet-mobile-screen-only {
    display: none;
}

/* mobile  */


@media only screen and (max-width: 480px) {
    .wallet-detail-container {
        height: 980px;
        flex-wrap: wrap;
    }

    .wallet-detail-container>* {
        flex: 1;
    }

    .wallete-detail-left-container {
        height: 20%;
    }

    .wallet-detail-right-container-left {
        padding: 0px;
    }

    .wallet-detail-right-container-left>* {
        flex: 1;

    }

    .wallet-detail-right-container {
        height: 70%;
        /* align-items: center; */
        flex-wrap: wrap;
        /* width: 330px; */
        padding: 12PX;
    }

    .wallet-detail-right-container>* {
        flex: 1;
        /* align-items: center; */
        gap: 32px
    }

    .front-face-photo {
        width: 104.17px;
        height: 104.17px;
        border-radius: 24px;
    }

    .front-face-photo>img {
        width: 104.17px;
        height: 104.17px;
    }

    .edit-camera {
        width: 36px;
        height: 36px;
        top: 72px
    }

    .edit-camera>img {
        width: 28px;
        height: 28px;
    }

    .author-collection {
        width: 171px;
        height: 28px;
        font-family: 'Gilroy-SemiBold';
        font-size: 12px;
        line-height: 150%;
        color: #FFFFFF;
        padding: 4px;
    }

    .wallet-rating-title {
        display: none;
    }

    .wallet-detail-status>* {
        flex: 1;
    }

    .wallet-mobile-screen-only {
        display: block;
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    .wallet-rating-title-mobile-screen-title {
        width: 144px;
        height: 28px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 22.9264px;
        line-height: 28px;
        color: #FFFFFF;
    }

    .wallet-edit-btn {
        display: none !important;
    }

    .wallet-edit-btn-mobile-screen {
        box-sizing: border-box;
        width: 95px;
        height: 50px;
        background: linear-gradient(104.08deg, #FECE76 -28.92%, #F78B88 76.85%);
        border: 1px solid #FFFFFF !important;
        box-shadow: 0px 13px 39px rgba(247, 143, 138, 0.47) !important;
        border-radius: 15px !important;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600 !important;
        font-size: 18px !important;
        line-height: 150% !important;
        color: #FFFFFF !important;

        margin-left: auto !important;
        margin-right: 6px !important;
        margin-top: -12px !important;
    }

    .detail-info-container {
        margin: 0 auto;

    }

    .detail-info-container>div {
        margin-left: -78px;
    }
}