.inner-heading{
    display: flex;
    justify-content: space-between;
    padding: 20px;  
}
.wallet-div{
position:relative;
bottom: 5px;

}
.inner-heading button{
    border: none;
    background: linear-gradient(104.08deg, #FECE76 -28.92%, #F78B88 76.85%);
    padding: 5px;
    color: white;
    font-weight: 700;
}


